.full-map {
    padding: 40px 10px;
    position: relative;
}

.search-for-places {
    position: absolute;
    top: 15%;
    margin-right: 20px;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
}

#search-input {
    background-color: #FFF9E3;
    border: 1px solid #CCCCCC;
    box-shadow: none;
    padding: 5px 7px;
    display: none;
    border-radius: 3px;
}

#map {
    height: 660px;
    width: 100%;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-bar a,
.leaflet-control-layers {
    background-color: #FFF9E3;
}

.leaflet-popup-content-wrapper {
    border-radius: 15px;
    padding: unset;
    box-shadow: unset;
    overflow: hidden;
}

.leaflet-popup-content {
    width: 300px;
    margin: unset;
}


.popup-link p {
    margin: unset;
}

.popup-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.popup-name {
    font-weight: 500;
    font-size: 20px;
    padding: 10px 10px 8px 10px;
    color: #010409;
}

.popup-city {
    padding: 0 10px 15px 10px;
    color: #3f4041;
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
    background-color: unset;
}

.marker-cluster-small {
    background-color: #418755;
}

.marker-cluster-medium {
    background-color: #b06145;
}

.marker-cluster-large {
    background-color: #ad3d3d;
}

.leaflet-control-scale-line {
    border: none;
    padding: 2px 5px 5px;
    white-space: nowrap;
    background: none;
    text-shadow: none;
    color: #FFFFFF;
}

.leaflet-control-scale-line:not(:first-child) {
    border-top: 1px solid #efefef;
}