{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<section>
    <div class="home">
        <div class="home-page-info">
            <div class="main-header">
                <img id="prevBtn" class="slide-btn" src="{% static 'home/images/left.svg' %}"
                     alt="L">
                <h1 class="main-phrase header">Hike here</h1>
                <img id="nextBtn" class="slide-btn" src="{% static 'home/images/right.svg' %}"
                     alt="R">
            </div>
            <div class="all-pictures">
                <div class="pictures">
                    <div class="one-picture">
                        <img src="{% static 'home/images/isokurupyhatunturi.jpg' %}" alt="isokurupyhatunturi">
                    </div>
                    <div class="one-picture">
                        <img src="{% static 'home/images/nattanen.jpg' %}" alt="nattanen">
                    </div>
                    <div class="one-picture">
                        <img src="{% static 'home/images/saana.jpg' %}" alt="saana">
                    </div>
                    <div class="one-picture">
                        <img src="{% static 'home/images/taivalkongas.jpg' %}" alt="taivalkongas">
                    </div>
                    <div class="one-picture">
                        <img src="{% static 'home/images/pallas.jpg' %}" alt="pallas">
                    </div>
                </div>
            </div>
        </div>
        <div class="selector container">
            <div class="selector-info">
                <div class="search-line">
                    <p class="search-for-hiking-place header">Find your hiking place :</p>
                    <div class="selector-line">
                        <div class="city select">
                            <span>City</span>
                            <img src="{% static 'home/images/arrow-top.svg' %}" alt="^">
                        </div>
                        <div class="season select">
                            <span>Season</span>
                            <img src="{% static 'home/images/arrow-top.svg' %}" alt="^">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block script_block %}
<script src="{% static 'js/scroll.js' %}"></script>
{% endblock %}