{% load static %}
<div class="selector container">
    <div class="selector-info">
        <div class="search-line">
            <p class="search-for-hiking-place header">Find your hiking place :</p>
            <div class="city-month select">
                <form action="{% url 'places' %}" class="select-hiking-place" method="get">
                    {% csrf_token %}
                    <select name="city_selector" id="city_selector"
                            class="month_selector selector-one">
                        <option selected disabled class="selected-disabled-option">CITY</option>
                        {% for field in form.city %}
                        <option value="{{ field }}">{{ field.label }}</option>
                        {% endfor %}
                    </select>

                    <select type="multichoice" name="month_selector" id="month_selector"
                            class="month_selector selector-one">
                        <option selected disabled class="selected-disabled-option">MONTH</option>
                        {% for field in form.month %}
                        <option value="{{ field }}">{{ field.label }}</option>
                        {% endfor %}
                    </select>

                    <button class="button-selector btn" type="submit"><img src="{% static 'base/images/search.svg' %}" alt="Search">
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
