.home-page-info {
    padding: 40px 0;
    position: relative;
}

.main-header {
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

.main-phrase {
    font-weight: 500;
    font-size: 9rem;
    color: #FFFFFF;
}

.all-pictures {
    max-width: 1240px;
    margin: 0 auto;
}

.pictures {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.pictures::-webkit-scrollbar {
    display: none;
}

.one-picture {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex: none;
}

.one-picture img {
    width: 400px;
    height: 500px;
    filter: brightness(0.50);
}

.selector-info {
    padding-bottom: 50px;
}

.search-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #18488f;
    border-radius: 25px;
    max-width: 600px;
    padding: 12px 0;
    margin: 0 auto;
}


.selector-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.select {
    min-width: 130px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 13px;
    background-color: #2156a4;
    border-radius: 30px;
    padding: 5px 0;
}