.home-page-info {
    padding: 40px 0 0;
    position: relative;
}

.main-header {
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

.main-phrase {
    font-weight: 500;
    font-size: 9rem;
    color: #FFFFFF;
}

.all-pictures {
    max-width: 1240px;
    margin: 0 auto;
}

.pictures {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.pictures::-webkit-scrollbar {
    display: none;
}

.one-picture {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex: none;
}

.one-picture img {
    width: 400px;
    height: 500px;
    filter: brightness(0.530);
    object-fit: cover;
}