.home-page-info {
    padding: 40px 0 0;
    position: relative;
}

.main-header {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

.main-phrase {
    font-weight: 500;
    font-size: 9rem;
    color: #FFFFFF;
}

.all-pictures {
    max-width: 1240px;
    margin: 0 auto;
}

.pictures {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.pictures::-webkit-scrollbar {
    display: none;
}

.one-picture {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex: none;
}

.one-picture img {
    width: 400px;
    height: 500px;
    filter: brightness(0.530);
    object-fit: cover;
}

.main-map-page {
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 0 50px 0;
    font-size: 17px;
    text-transform: uppercase;
}

.main-map-words {
    color: #4b90ea;
    font-style: italic;
    font-weight: bold;
}

.main-map-page:hover{
    .arrow {
        transform: translateX(20%);
    }
}