@media screen and (max-width: 1070px) {

    .main-phrase {
        font-size: 6rem;
    }

    .one-picture img {
        height: 400px;
        width: 300px;
    }
}

@media screen and (max-width: 880px) {
    .home-page-info {
        padding: 20px 0 30px;
    }
    .main-phrase {
        font-size: 4rem;
    }

    .slide-btn {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 690px) {

    .slide-btn {
        display: none;
        overflow: hidden;
        visibility: hidden;
    }
}

@media screen and (max-width: 430px) {
    .main-map-page {
        font-size: 13px;
    }
}

@media screen and (max-width: 350px) {
    .one-picture img {
        width: 250px;
    }

    .main-phrase {
        font-size: 3rem;
    }
}

@media screen and (min-height: 830px) and (min-width: 650px) {
    .one-picture img {
        width: 500px;
        height: 600px;
    }
}

@media screen and (min-height: 1035px) and (min-width: 650px){
    .one-picture img {
        height: 700px;
    }
}

@media screen and (min-height: 1135px) and (min-width: 650px){
    .one-picture img {
        height: 800px;
    }
}


@media screen and (min-height: 1235px) and (min-width: 650px){
    .one-picture img {
        height: 900px;
        width: 700px;
    }
}
