@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Barlow', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #211f1f;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* :after, :before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #211f1f;
}

h1, h2, h3, p {
    margin: 0;
    font-weight: 300;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

hr {
    border: 1px solid #efefef;
}

svg {
    vertical-align: middle;
}

img {
    cursor: pointer;
}

.container {
    max-width: 1240px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

main {
    flex: 1;
    height: 100%;
}

.header-all-components {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px;
    flex: 1;
    text-transform: uppercase;
}

.logo {
    flex: 3;
    text-align: center;
}

.language {
    flex: 1;
    text-align: right;
    text-transform: uppercase;

}

.logo img {
    max-width: 150px;
}


.developer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.footer-links ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: right;
}

.footer-copyright,
.footer-links {
    flex: 1;
}

.footer-designer-name {
    flex: 2;
    text-align: center;
}