{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'places/css/place.css' %}">
<link rel="stylesheet" href="{% static 'places/css/media_place.css' %}">
{% endblock %}

{% block leaflet %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock leaflet %}

{% block title %}{{ name }}{% endblock %}
{% block content %}
<section class="one-place-section">
    <div class="header-place container">
        <h1 class="place-header header-category header-h1">{% trans "Places" %}</h1>
        <a class="all-places-link" href="{% url 'places' %}">{% trans "All places" %}</a>
    </div>
    <div class="one-place-parts">
        <img class="background-image" src="{% static 'places/images/' %}{{ place.image_path }}" alt="Place image">
        <div class="all-parts container">
            <div class="place-parts-top">
                <p class="name">{{ name }}</p>
            </div>
            <div class="place-part-bottom">
                <div class="place-image">
                    <img class="place-image-main" src="{% static 'places/images/' %}{{ place.image_path }}"
                         alt="{{ place.image_alt_text }}">
                </div>
                <div class="place-on-map">
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="one-place container">
        <div class="one-place-info">
            <div class="description">
                {% for sentence in description %}
                <p class="description-text">{{ sentence }}</p>
                <br>
                {% endfor %}
            </div>
            <div class="extra-info">
                <div class="price-time">
                    <div class="price-info extra-part-top extra-part">
                        <img src="{% static 'places/images/euro.svg' %}" alt="Euro">
                        {% if place.price == 'Free' %}
                        <span class="price price-time-info">{% trans "Free" %}</span>
                        {% else %}
                        <span class="price price-time-info">{% trans "Paid" %}</span>
                        {% endif %}
                        <span class="price-tag price-time-tag">{% trans "Price" %}</span>
                    </div>
                    <div class="external-link extra-part-top extra-part">
                        <img src="{% static 'places/images/external-link.svg' %}" alt="External link">
                        <a class="url price-time-info" target="_blank" href="{{ place.url }}">{% trans "Go" %}</a>
                        <span class="url-tag price-time-tag">{% trans "Url" %}</span>
                    </div>
                </div>
                <div class="time-info">
                    <div class="time-info-parts">
                        <img src="{% static 'places/images/calendar.svg' %}" alt="Calendar">
                        <p>{% trans "Best time to visit" %}</p>
                    </div>
                    <span>{{ available_time }}</span>
                </div>
                <div class="address extra-part">
                    <img src="{% static 'places/images/location-pin.svg' %}" alt="Location">
                    <p class="address-text">{{ place.street_name }}, {{ place.postal_code }}, {{ place.city }}</p>
                </div>
                <div class="weather">
                    <div class="temp">
                        <p class="temperature">{{ temp }}°C</p>
                    </div>
                    <div class="city-parameter-icon">
                        <div class="city-parameter">
                            <p class="city-weather">{{ place.city }}</p>
                            <p class="weather-parameter">{{ weather_parameter }}</p>
                        </div>
                        <div class="weather-icon">
                            <img src="{{ icon_path }}" alt="{{ weather_parameter}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script_block %}
<script>
    // getting latitude and longitude of the place
    var latitude = parseFloat("{{ latitude }}".replace(',', '.'))
    var longitude = parseFloat("{{ longitude }}".replace(',', '.'))
    var myIcon = L.icon({
        iconUrl: '../../../static/places/images/place.svg',
        iconSize: [20, 20],
        iconAnchor: [10, 20],
        popupAnchor: [0, -20]
    })

    // map init
    var map = L.map('map', {attributionControl: false}).setView([latitude, longitude], 5);

    // osm layer
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Jawg layer
    var Jawg_Dark = L.tileLayer('https://tile.jawg.io/jawg-dark/{z}/{x}/{y}{r}.png?access-token={accessToken}', {
        attribution: '<a href="https://jawg.io" title="Tiles Courtesy of Jawg Maps" target="_blank">&copy; <b>Jawg</b>Maps</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        minZoom: 0,
        maxZoom: 22,
        accessToken: 'SsGvI1cBUlx6m7qrBwvGWFABDoxJ0sVm4qN7oB1eHlDuTgAA1BfDvF05lMuRkQgs'
    });

    Jawg_Dark.addTo(map)

    var singleMarker = L.marker([latitude, longitude], {icon: myIcon}).addTo(map)
    var popup = singleMarker.bindPopup("{{ name }}").openPopup()

    popup.addTo(map)

</script>
{% endblock %}