{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'places/css/place.css' %}">
{% endblock %}

{% block title %}Place{% endblock %}
{% block content %}
<section class="one-place-section">
    <div class="header-place container">
        <h1 class="place-header header-category header">Places</h1>
        <a class="all-places-link" href="{% url 'places' %}">All places</a>
    </div>
    <div class="one-place-parts">
        <img class="background-image" src="{% static 'places/images/' %}{{ place.image_path }}" alt="Place image">
        <div class="all-parts container">
            <div class="place-parts-top">
                <p class="name">{{ place.name_eng }}</p>
                <div class="share-download">
                    <a href="#"><img src="{% static 'places/images/share.svg' %}" alt="Share"></a>
                    <a href="#"><img src="{% static 'places/images/download.svg' %}" alt="Download"></a>
                </div>
            </div>
            <div class="place-part-bottom">
                <div class="place-image">
                    <img class="place-image-main" src="{% static 'places/images/' %}{{ place.image_path }}"
                         alt="{{ place.image_alt_text }}">
                </div>
                <div class="place-on-map">
                    <p class="map">Map</p>
                </div>
            </div>
        </div>
    </div>
    <div class="one-place container">
        <div class="one-place-info">
            <div class="description">
                {% for sentence in place.description_eng %}
                <p class="description-text">{{ sentence }}</p>
                <br>
                {% endfor %}
            </div>
            <div class="extra-info">
                <div class="price-time">
                    <div class="price-info extra-part-top extra-part">
                        <img src="{% static 'places/images/euro.svg' %}" alt="Euro">
                        <span class="price price-time-info">{{ place.price }}</span>
                        <span class="price-tag price-time-tag">Price</span>
                    </div>
                    <div class="external-link extra-part-top extra-part">
                        <img src="{% static 'places/images/external-link.svg' %}" alt="External link">
                        <a class="url price-time-info" target="_blank" href="{{ place.url }}">Go</a>
                        <span class="url-tag price-time-tag">Url</span>
                    </div>
                </div>
                <div class="time-info">
                    <div class="time-info-parts">
                        <img src="{% static 'places/images/calendar.svg' %}" alt="Calendar">
                        <p>Best time to visit</p>
                    </div>
                    <span>{{ place.available_time }}</span>
                </div>
                <div class="address extra-part">
                    <img src="{% static 'places/images/location-pin.svg' %}" alt="Location">
                    <p class="address-text">{{ place.street_name }}, {{ place.postal_code }}, {{ place.city }}</p>
                </div>
                <div class="weather">
                    <div class="temp">
                        <p class="temperature">{{ temp }}°C</p>
                    </div>
                    <div class="city-parameter-icon">
                        <div class="city-parameter">
                            <p class="city-weather">{{ place.city }}</p>
                            <p class="weather-parameter">{{ weather_parameter }}</p>
                        </div>
                        <div class="weather-icon">
                            <img src="{{ icon_path }}" alt="{{ weather_parameter}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}