{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'places/css/places.css' %}">
{% endblock %}

{% block title %}Places{% endblock %}

{% block content %}
<section class="places-block">
    <div class="places container">
        <h1 class="places-header header">All places for hiking</h1>
        <div class="all-places">
            <div class="one-place">
                {% for city, places in cities_and_places.items %}
                <ul>
                    <li class="city">
                        {{ city }}
                        <ul>
                            {% for place in places %}
                            <li>{{ place }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block script_block %}
{% endblock %}